
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    background-color: #f4f4f4;
    
}




.del_bt{
    width: 70px;
    height: 30px;
    padding: 0;
    
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 40px;
    transition: background-color 0.3s ease;
}
.tasks-wrapper {
    
}


#todo-list {
    list-style-type: none;
    padding: 0;
}

#todo-list li {
    margin-bottom: 10px;
}


#todo-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    
}

#todo-input {
    width: calc(100% - 80px);
    padding: 10px;
    margin-bottom: 10px;
    margin-top:10px ;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-left: 20px;
}

.bt {
    width: 100px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px;
    margin-right: 20px;
}

.bt:hover {
    background-color: #0056b3;
}
.left{
    
    
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    max-height: 300px; /* Limiting the height to 500px */
    overflow-y: auto; /* Adding vertical scrollbar when content overflows */
    overflow-x: hidden; 
    
}
.right{
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   
    

}
